<div class="box-title">
    <p class="title-section">Promociones</p>
    <p class="subtitle-section comercios-subtitle">{{ promocion.texto }}</p>
</div>

<div class="promocion">
    <div class="promocion-box">
        <div class="promocion-box-timer">
            <div class="promocion-box-timer-title">
                <p class="timer-title">{{ promocion.diasPromocion }} <strong>{{ promocion.promocion }}</strong></p>
            </div>
            <div class="promocion-box-timer-time">
                <div class="dias number-box">
                    <div class="number">{{ unCaracter(days) ? 0 : '' }}{{ days }}</div>
                    <div class="text">Días</div>
                </div>
                <div class="horas number-box">
                    <div class="number">{{ unCaracter(hours) ? 0 : '' }}{{ hours }}</div>
                    <div class="text">Horas</div>
                </div>
                <div class="minutos number-box">
                    <div class="number">{{ unCaracter(minutes) ? 0 : '' }}{{ minutes }}</div>
                    <div class="text">Minutos</div>
                </div>
                <div class="segundos number-box">
                    <div class="number">{{ unCaracter(seconds) ? 0 : '' }}{{ seconds }}</div>
                    <div class="text">Segundos</div>
                </div>
            </div>
        </div>
        <div class="promocion-box-image">
            <img [src]="linkImage" alt="promocion-img">
        </div>
    </div>
</div>