<div class="promocion-box">
    <div class="promocion-box-timer">
        <div class="promocion-box-timer-title">
            <p class="timer-title">Super Miércoles <strong>15% de Descuento</strong></p>
        </div>
        <div class="promocion-box-timer-time">
            <div class="dias">
                <div class="number">24</div>
                <div class="text">Días</div>
            </div>
            <div class="horas">
                <div class="number">12</div>
                <div class="text">Horas</div>
            </div>
            <div class="minutos">
                <div class="number">25</div>
                <div class="text">Minutos</div>
            </div>
            <div class="segundos">
                <div class="number">45</div>
                <div class="text">Segundos</div>
            </div>
        </div>
    </div>
    <div class="promocion-box-image">
        <img [src]="linkImage" alt="promocion-img">
    </div>
</div>