<div class="animate__animated animate__fadeIn">
    <!-- <div class="carousel-section" *ngIf="promociones">
        <app-promociones-carousel [promociones]="promociones" />
    </div> -->
    <owl-carousel-o #carousel [options]="customOptions">
        <ng-template carouselSlide>
            <div class="intro-section">
                <div class="intro-section-data">
                    <div class="intro-title">
                        <p>
                            <span class="intro-title-upper">La tarjeta</span>
                            <br>
                            de tus pagos
                        </p>
                    </div>
                    <div class="intro-text">
                        <p>
                            Tarjeta Primicia es un servicio de Mutual entre
                            Asociados de Cooperación Mutual Patronal
                            presentado al mercado en el año 2002. Es una
                            tarjeta de crédito propia con marca registrada
                            a nivel nacional.
                        </p>
                    </div>
                    <div class="intro-button">
                        <button><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'"><strong>¡Pedila</strong> ahora!</a></button>
                    </div>
                </div>
                <div class="intro-section-image">
                    <img src="assets/imgs/girl-primicia.png" alt="girl-image">
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide *ngFor="let promocion of promociones">
          <div class="intro-section">
            <div class="intro-section-data">
                <div class="intro-title">
                    <p>
                        <span class="intro-title-upper">{{ promocion.diasPromocion }}</span>
                        <br>
                        {{ promocion.promocion }}
                    </p>
                </div>
                <div class="intro-text">
                    <p>
                        {{ promocion.texto }}
                    </p>
                    <br>
                    <p>
                        {{ promocion.fechaInicio | appFecha }} al {{ promocion.fechaFin | appFecha }}
                    </p>
                </div>
                <div class="intro-button">
                    <button *ngIf="promocion.promocion === 'SORTEO 2 viajes a Temaiken'"><a (click)="openDocument()"><strong>Ver</strong> bases y condiciones</a></button>
                    <button *ngIf="promocion.promocion !== 'SORTEO 2 viajes a Temaiken'"><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'"><strong>¡Pedila</strong> ahora!</a></button>
                </div>
            </div>
            <div class="intro-section-image">
                <img [src]="promocion.image ? ('data:image/png;base64,' + promocion.image) : ''" alt="girl-image">
            </div>
        </div>
        </ng-template>
    </owl-carousel-o>

    <!-- <div class="intro-section">
        <div class="intro-section-data">
            <div class="intro-title">
                <p>
                    <span class="intro-title-upper">La tarjeta</span>
                    <br>
                    de tus pagos
                </p>
            </div>
            <div class="intro-text">
                <p>
                    Tarjeta Primicia es un servicio de Mutual entre <br>
                    Asociados de Cooperación Mutual Patronal <br>
                    presentado al mercado en el año 2002. Es una <br>
                    tarjeta de crédito propia con marca registrada <br>
                    a nivel nacional.
                </p>
            </div>
            <div class="intro-button">
                <button><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'"><strong>¡Pedila</strong> ahora!</a></button>
            </div>
        </div>
        <div class="intro-section-image">
            <img src="assets/imgs/girl-primicia.png" alt="girl-image">
        </div>
    </div> -->
    <div class="servicio-section">
        <app-servicio></app-servicio>
    </div>
    <div class="promociones-section" *ngIf="promociones">
        <app-promocion-box [promocion]="promociones[0]"></app-promocion-box>
    </div>

    <div class="promociones-section" *ngIf="promocionesEspeciales && showPromocionesEspeciales">
        <app-promocion-box [promocion]="promocionesEspeciales[0]" [isSpecial]="true"></app-promocion-box>
    </div>
    <div class="contacto-section">
        <app-contacto></app-contacto>
    </div>
</div>
