<div class="animate__animated animate__fadeIn">
    <div class="intro-section">
        <div class="intro-section-data">
            <div class="intro-title">
                <p>
                    <span class="intro-title-upper">La tarjeta</span>
                    <br>
                    de tus pagos
                </p>
            </div>
            <div class="intro-text">
                <p>
                    Tarjeta Primicia es un servicio de Mutual entre <br>
                    Asociados de Cooperación Mutual Patronal <br>
                    presentado al mercado en el año 2002. Es una <br>
                    tarjeta de crédito propia con marca registrada <br>
                    a nivel nacional.
                </p>
            </div>
            <div class="intro-button">
                <button><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'"><strong>¡Pedila</strong> ahora!</a></button>
            </div>
        </div>
        <div class="intro-section-image">
            <img src="assets/imgs/girl-primicia.png" alt="girl-image">
        </div>
    </div>
    <div class="servicio-section">
        <app-servicio></app-servicio>
    </div>
    <div class="promociones-section">
        <app-promociones></app-promociones>
    </div>
    <div class="contacto-section">
        <app-contacto></app-contacto>
    </div>
</div>