<div class="denuncia animate__animated animate__fadeIn">

        <div class="box-title">
            <p class="title-section">Denuncia de Tarjeta por Extravío, Robo o Hurto</p>
            <p class="subtitle-section filiales-subtitle">Disponible 24 horas, 365 días del año</p>
        </div>

        <div class="denuncia-pasos">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="paso">
                    <div class="numero">1</div>
                    <div class="data">
                        <div class="titulo">Disque</div>
                        <div class="texto">0810-888-2222 <br>Opción 2</div>
                    </div>
                </div>
              </ng-template>  
              <ng-template carouselSlide>
                <div class="paso">
                    <div class="numero">2</div>
                    <div class="data">
                        <div class="titulo">Ingrese DNI</div>
                        <div class="texto">Dni del titular de la tarjeta extraviada. <br>
                        Si es Dni Ej: 66666666 <br>
                        Si es LC o LE: 06666666 <br>
                        </div>
                    </div>
                </div>
              </ng-template>  
              <ng-template carouselSlide>
                <div class="paso">
                    <div class="numero">3</div>
                    <div class="data">
                        <div class="titulo">Si es adicional</div>
                        <div class="texto">Digite el número de documento del adicional solamente</div>
                    </div>
                </div>
              </ng-template>  
              <ng-template carouselSlide>
                <div class="paso">
                    <div class="numero">4</div>
                    <div class="data">
                        <div class="titulo">Si es Titular y adicional</div>
                        <div class="texto">Realizar 2 denuncias</div>
                    </div>
                </div>
              </ng-template>  
            </owl-carousel-o>
        </div>
</div>