<div class="servicio">
    <div class="box-title">
        <p class="title-section">Servicio</p>
        <p class="subtitle-section">Descubrí nuestros planes especiales con cuotas sin interés y muchos beneficios más.
            Econtrá el comercio que buscas en tu ciudad.</p>
    </div>
    <div class="servicio-boxes">
        <div class="left">
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box">Obtené tu</p>
                        <p class="title-box">tarjeta online!</p>
                    </div>
                    <div class="ingresa">
                        <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'">Ingresá aquí</a></p>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/card-online.png" alt="card-img">
                    <div class="ingresa-img">
                        <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'">Ingresá aquí</a></p>
                    </div>
                </div>
            </div>

            <div class="servicio-boxes-box box-blue">
                <div class="data">
                    <div class="title">
                        <p class="title-box title-white">Promociones</p>
                        <p class="title-box title-white">y planes</p>
                    </div>
                    <div class="ingresa">
                        <img src="assets/imgs/cards/ingresa-secondary.png" alt="icon">
                        <p class="ingresa-text text-white"><a [routerLink]="'promociones'">Ingresá aquí</a></p>
                    </div>
                </div>
                <div class="img img-box-promociones">
                    <img class="img-promociones" src="assets/imgs/cards/promociones-card.png" alt="promociones-img">
                    <div class="ingresa-img">
                        <img class="image-arrow-device" src="assets/imgs/cards/ingresa-secondary.png" alt="icon">
                        <p class="ingresa-text text-white"><a [routerLink]="'promociones'">Ingresá aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box title-white">Filiales</p>
                        <p class="title-box title-white">y contacto</p>
                    </div>
                    <div class="ingresa">
                        <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a [routerLink]="'contacto'">Ingresá aquí</a></p>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/filiales-card.png" alt="filiales-img">
                    <div class="ingresa-img">
                        <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a [routerLink]="'contacto'">Ingresá aquí</a></p>
                    </div>
                </div>
            </div>
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box">Resumen</p>
                        <p class="title-box">online</p>
                    </div>
                    <div class="ingresa">
                        <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a href="https://www.mutualentreasoc.com.ar">Ingresá aquí</a></p>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/resumen-card.png" alt="resumen-img">
                    <div class="ingresa-img">
                        <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                        <p class="ingresa-text"><a href="https://www.mutualentreasoc.com.ar">Ingresá aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>