<div class="servicio">
    <div class="box-title">
        <p class="title-section">Servicio</p>
        <p class="subtitle-section">Descubrí nuestros planes especiales con cuotas sin interés y muchos beneficios más.
            Econtrá el comercio que buscas en tu ciudad.</p>
    </div>
    <div class="servicio-boxes">
        <div class="left">
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box">Obtené tu</p>
                        <p class="title-box">tarjeta online!</p>
                    </div>
                    <div class="ingresa">
                        <a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'">
                            <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/card-online.png" alt="card-img">
                    <div class="ingresa-img">
                        <a [routerLink]="'nosotros'" [fragment]="'pedirTarjeta'">
                            <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="servicio-boxes-box box-blue">
                <div class="data">
                    <div class="title">
                        <p class="title-box title-white">Solicitá tu</p>
                        <p class="title-box title-white">adelanto online</p>
                    </div>
                    <div class="ingresa">
                        <a [routerLink]="'contacto'">
                            <img src="assets/imgs/cards/ingresa-secondary.png" alt="icon">
                            <p class="ingresa-text text-white">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/adelanto-card.png" alt="adelanto-img">
                    <div class="ingresa-img">
                        <a [routerLink]="'promociones'">
                            <img class="image-arrow-device" src="assets/imgs/cards/ingresa-secondary.png" alt="icon">
                            <p class="ingresa-text text-white">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box title-white">Filiales</p>
                        <p class="title-box title-white">y contacto</p>
                    </div>
                    <div class="ingresa">
                        <a [routerLink]="'contacto'">
                            <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/filiales-card.png" alt="filiales-img">
                    <div class="ingresa-img">
                        <a [routerLink]="'contacto'">
                            <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="servicio-boxes-box">
                <div class="data">
                    <div class="title">
                        <p class="title-box">Resumen</p>
                        <p class="title-box">online</p>
                    </div>
                    <div class="ingresa">
                        <a href="https://hb.mutualentreasoc.com.ar/auth/login" target="_blank">
                            <img src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
                <div class="img">
                    <img src="assets/imgs/cards/resumen-card.png" alt="resumen-img">
                    <div class="ingresa-img">
                        <a href="https://hb.mutualentreasoc.com.ar/auth/login" target="_blank">
                            <img class="image-arrow-device" src="assets/imgs/cards/ingresa-primary.png" alt="icon">
                            <p class="ingresa-text">Ingresá aquí</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>