<div class="container-primicia">
    <div class="client-layout">
        <div class="client-layout-navbar">
            <app-navbar></app-navbar>
        </div>
        <div class="client-layout-content">
            <router-outlet></router-outlet>
        </div>
        <div class="client-layout-footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<div class="whatsapp-section">
    <div class="whatsapp-icon" (click)="openWhatsapp()">
        <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
    </div>
</div>