.ayuda {
    padding: 6rem 0;

    @media (max-width: 1400px) {
        padding: 3.5rem 0;
    }

    &-subtitle {
        max-width: 25.9rem;
    }

    .preguntas-section {
        margin-top: 6.625rem;
        position: relative;

        img {
            position: absolute;
            right: 10%;
            top: -12rem;

            @media (max-width: 1470px) {
                right: 0;
            }

            @media (max-width: 1340px) {
                display: none;
            }
        }

        &-box {
            &:not(:last-of-type) {
                margin-bottom: 1.875rem;
            }
        }
    }



}