<div class="info animate__animated animate__fadeIn">
    <div class="box-title box-title-info">
        <p class="title-section">Información al Usuario
            de Servicios Financieros</p>
        <p class="subtitle-section ayuda-subtitle">De acuerdo a lo establecido por la COMUNICACIÓN A 5388 del B.C.R.A.,
            se encuentra a su disposición el Servicio de Atención al Usuario de Servicios Financieros.
            Usted puede canalizar sus consultas, reclamos o sugerencias, por cualquiera de los siguientes medios:</p>
    </div>

    <div class="info-box-usuario">
        <app-dropdown-item [title]="'info-usuario'" />
    </div>

    <div class="consulta-reclamo-box">
        <app-dropdown-item [title]="'consulta-reclamo'" />
    </div>


</div>