<div class="info animate__animated animate__fadeIn">
    <div class="box-title box-title-info">
        <p class="title-section">Información al Usuario
            de Servicios Financieros</p>
        <p class="subtitle-section ayuda-subtitle">De acuerdo a lo establecido por la COMUNICACIÓN A 5388 del B.C.R.A.,
            se encuentra a su disposición el Servicio de Atención al Usuario de Servicios Financieros.
            Usted puede canalizar sus consultas, reclamos o sugerencias, por cualquiera de los siguientes medios:</p>
    </div>

    <div class="new-text">
        <p>Que los casos de falta de respuesta de los sujetos obligados o de disconformidad con las resoluciones por ellos adoptadas podrán ser informados por los usuarios de servicios financieros al BCRA.</p>
    </div>

    <div class="info-box-usuario">
        <app-dropdown-item [title]="'info-usuario'" />
    </div>

    <div class="proteccion-section">
        <div class="box-title box-title-proteccion">
            <p class="title-section">Protección de los Usuarios
                de Servicios Financieros</p>
            <p class="subtitle-section">Texto Ordenado Protección Usuario de Servicios Financieros del BCRA De acuerdo al texto ordenado del Banco Central de la República Argentina sobre la protección de Servicios Financieros, presentamos la información referida a costos de la tarjeta Primicia</p>
        </div>

        <div class="new-text">
            <p>El Banco Central de la República Argentina dispone de un área de Protección al Usuario de Servicios Financieros que podrá contactar ingresando a <a href="www.usuariosfinancieros.gob.ar" target="_blank">www.usuariosfinancieros.gob.ar</a></p>
        </div>

        <div class="proteccion-section-box">
            <app-dropdown-item 
                [title]="'Tasas'"
                [tasas]="tasas"
                [costoFinanciero]="costoFinanciero"
                [tasasFecha]="tasasFecha"
                [concepto]="true">
            </app-dropdown-item>
        </div>
        <div class="proteccion-section-box">
            <app-dropdown-item 
                [title]="'Comisiones y cargos'"
                [comisiones]="comisiones">
            </app-dropdown-item>
        </div>
    </div>

    <div class="consulta-reclamo-box">
        <app-dropdown-item [title]="'consulta-reclamo'" />
    </div>


</div>


<div class="loader-primicia-box" *ngIf="cargandoData">
    <span class="loader-primicia"></span>
</div>