.info {
  padding: 6rem 0;

  @media (max-width: 1400px) {
    padding: 3.5rem 0;
  }

  .box-title-info {
    margin-bottom: 1rem;
  }

  .new-text {
    margin-bottom: 3.4375rem;

    p {
      font-size: 1.125rem;
      font-style: italic;

      @media (max-width: 768px) {
        font-size: .9rem;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .info-box-usuario {
    margin-bottom: 2.5rem;
  }
}

.proteccion-section {
  margin-top: 6.625rem;

  .box-title-proteccion {
    margin-bottom: 1rem;
  }

  &-box {
    margin-bottom: 2.5rem;
  }
}