<div *ngIf="promociones" class="animate__animated animate__fadeIn">
    <div class="promociones" *ngFor="let promocion of promociones">
        <div class="box-title">
            <p class="title-section">Promociones</p>
            <p class="subtitle-section comercios-subtitle">Miércoles Exclusivos 15% descuento. Fecha de Inicio: 01/01/2023. Fecha de Finalización: 30/09/2023.</p>
        </div>
        <div class="box-promocion">
            <app-promocion-box [promocion]="promocion"></app-promocion-box>
        </div>
    </div>

</div>

<div class="loader-primicia-box" *ngIf="cargandoData">
    <span class="loader-primicia"></span>
</div>