<div class="dropdown-item" [ngClass]="{'open' : !closed}">
    <div class="dropdown-item-header" [ngClass]="{'item-pregunta': respuesta && title}">
        <div class="number" *ngIf="numero">
            <p>{{ completarConCero(numero) }}</p>
        </div>
        <div class="title">
            <p>{{ title }}</p>
        </div>
        <div class="concepto-title-box" *ngIf="concepto">
            <div class="concepto-item">
                <p>T.N.A.</p>
            </div>
            <div class="concepto-item">
                <p>T.E.M.</p>
            </div>
            <div class="concepto-item">
                <p>C.F.T.(*)</p>
            </div>
        </div>
        <div class="icon" [ngClass]="{'concepto-img' : concepto}">
            <img (click)="closed = !closed" [src]="closed ? urlPlus : urlMinus" alt="plus-icon">
        </div>
    </div>
    <div class="dropdown-item-body" [ngClass]="{'open-body' : !closed}">
        <hr>
        <div class="otra-data">
            <div class="concepto-data" *ngIf="concepto">
                <div class="titles">
                    <div class="title-item" *ngFor="let tasa of tasas">
                        <div class="title-item-header">{{ tasa.tasaTitulo }}</div>
                        <div class="title-item-sub">{{ tasa.tasaDescripcion }}</div>
                    </div>
                </div>
                <div class="numbers">
                    <div class="number-item" *ngFor="let tasa of tasas">
                        <div class="number">{{ reemplazaPuntoPorComa(tasa.tna) }}%</div>
                        <div class="number">{{ reemplazaPuntoPorComa(tasa.tem) }}%</div>
                        <div class="number">{{ reemplazaPuntoPorComa(tasa.cft) }}%</div>
                    </div>
                </div>
            </div>
            <div class="respuesta" *ngIf="respuesta">
                <p>{{ respuesta }}</p>
            </div>
        </div>
        <div class="data" *ngFor="let comercio of comercios">
            <div class="comercios-data" *ngIf="muestraPromocion(comercio.promocionId)">
                <div class="empresa" *ngIf="comercio.nombre">
                    <p>{{ comercio.nombre }}</p>
                </div>
                <div class="direccion" *ngIf="comercio.direccion">
                    <p>{{ comercio.direccion }}</p>
                </div>
            </div>


        </div>
        <div class="comisiones" *ngIf="comisiones">
            <div class="title">Detalle - Importe</div>
            <div class="detalle-item" *ngFor="let comision of comisiones">
                <div class="detalle-title">{{ comision.comisionTitulo }}</div>
                <div class="detalle-importe">{{ comision.comisionImporte }}</div>
            </div>
        </div>
    </div>
</div>