.contactos {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tabla-contactos {
  margin-top: 1rem;
  width: 100%;
}

.field-search {
  width: 100%;
}

.btn-edit-icon {
  margin-right: .5rem;
}

.label-card {
  font-weight: bold;
}

.table-section {
  @media (max-width: 800px) {
    display: none;
  }
}

.card-section {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}

.mat-mdc-card {
  margin-bottom: .5rem;
}

