<div class="primicia">
    <div class="box-title">
        <p class="title-section">Tarjeta Primicia</p>
        <p class="subtitle-section primicia-subtitle">Su mejor opción para
            comprar en cuotas</p>
    </div>
    <div class="primicia-box">
        <div class="primicia-box-text border-primero">
            <div class="primicia-box-text-title">
                <p>Nuestro servicio</p>
            </div>
            <div class="primicia-box-text-content">
                Tarjeta Primicia es un servicio de Mutual entre Asociados de Cooperación Mutual Patronal presentado al
                mercado en el año 2002. Es una tarjeta de crédito propia con marca registrada a nivel nacional.
            </div>
            <div class="primicia-box-text-link">
                <a><p>Leer mas</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas"></a>
            </div>
        </div>
        <div class="primicia-box-text padding-left border-segundo">
            <div class="primicia-box-text-title">
                <p>Zona de influencia</p>
            </div>
            <div class="primicia-box-text-content">
                <p>
                    La zona de influencia se encuentra desarrollada desde la Casa Central en la ciudad de Venado Tuerto
                    hacia 30 regiones en el sur de la provincia de Santa Fe, y en las ciudades de San Nicolás de los
                    Arroyos, Villa...
                </p>
            </div>
            <div class="primicia-box-text-link">
                <a><p>Leer mas</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas"></a>
            </div>
        </div>
        <div class="primicia-box-text padding-left no-padding">
            <div class="primicia-box-text-title">
                <p>Política comercial</p>
            </div>
            <div class="primicia-box-text-content">
                <p>La política comercial de PRIMICIA es la expansión hacia otras regiones del país, tratando de llevar
                    el servicio a nivel nacional, encontrándose ya en desarrollo la estrategia de ampliación hacia las
                    zonas de influencia de las...</p>
            </div>
            <div class="primicia-box-text-link">
                <a><p>Leer mas</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas"></a>
            </div>
        </div>
        <div class="primicia-box-img">
            <img src="assets/imgs/girl-primicia.png" alt="">
        </div>
    </div>
</div>