<div class="contacto animate__animated animate__fadeIn">
    <div class="contacto-formulario">
        <app-contacto></app-contacto>
    </div>

    <div class="filiales" id="filialesSection">
        <div class="box-title">
            <p class="title-section">Filiales</p>
            <p class="subtitle-section filiales-subtitle">La Tarjeta de tus Pagos. <br>Encontrá la filial más cercana</p>
        </div>


        <div class="filiales-content" *ngIf="filiales">
            <div *ngFor="let filial of filiales; let i = index">
                <div class="filiales-content-box">
                    <div class="filiales-content-box-header">
                        <div class="title">{{ filial.localidad }}</div>
                        <div class="subtitle">Mutual Entre Asociados 
                            de Cooperación Mutual Patronal</div>
                    </div>
                    <hr>
                    <div class="filiales-content-box-body">
                        <ul>
                            <li>{{ filial.direccion + ' - ' ?? '' }}{{ filial.telefono ?? '' }}</li>
                            <li>{{ filial.email.toLowerCase() ?? '' }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-title filiales">
            <p class="title-section">Oficinas Virtuales</p>
            <p class="subtitle-section filiales-subtitle">La Tarjeta de tus Pagos. <br>Encontrá la filial más cercana</p>
        </div>
        <div class="filiales-content" *ngIf="receptorias">
            <div *ngFor="let filial of receptorias; let i = index" class="filiales-content-box">
                <div class="filiales-content-box-header">
                    <div class="title">{{ filial.localidad }}</div>
                    <div class="subtitle">{{ getSubtitle(filial.localidad) }}</div>
                </div>
                <hr>
                <div class="filiales-content-box-body">
                    <ul>
                        <li>{{ filial.direccion + ' - ' ?? '' }}{{ filial.telefono ?? '' }}</li>
                        <li>{{ filial.email.toLowerCase() ?? '' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-primicia-box" *ngIf="cargandoData">
    <span class="loader-primicia"></span>
</div>