<div class="contacto">
    <div class="contacto-formulario">
        <app-contacto></app-contacto>
    </div>

    <div class="filiales">
        <div class="box-title">
            <p class="title-section">Filiales</p>
            <p class="subtitle-section filiales-subtitle">Meet the skilled and experienced team behind our successful digital marketing strategies</p>
        </div>


        <div class="filiales-content" *ngIf="filiales">
            <div *ngFor="let filial of filiales; let i = index" class="filiales-content-box">
                <div class="filiales-content-box-header">
                    <div class="title">{{ filial.localidad }}</div>
                    <div class="subtitle">Mutual Entre Asociados 
                        de Cooperación Mutual Patronal</div>
                </div>
                <hr>
                <div class="filiales-content-box-body">
                    <ul>
                        <li>{{ filial.direccion + ' - ' ?? '' }}{{ filial.telefono ?? '' }}</li>
                        <li>{{ filial.email.toLowerCase() ?? '' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader-primicia-box" *ngIf="cargandoData">
    <span class="loader-primicia"></span>
</div>