<div class="navbar">
    <div class="navbar-image">
        <img src="assets/imgs/logo-p.png" routerLink="'/'" alt="logo-p">
    </div>
    <div class="navbar-links">
        <ul>
            <li *ngFor="let item of items">
                <a [routerLink]="item.path" routerLinkActive="selected">
                    {{ item.text }}
                </a>
            </li>
            <a href="https://tiendamutualentreasociados.com.ar/" target="_blank">
                <img src="assets/icons/shopping_cart.png" alt="">
            </a>
            <button><a href="https://hb.mutualentreasoc.com.ar/auth/login" target="_blank" lang="es" translate="no">Home Mutual</a></button>
        </ul>
    </div>
</div>

<div class="navbar-responsive">
    <div class="navbar-responsive__top">
        <a routerLink="'/'">
            <img src="./assets/imgs/logo-p.png" alt="logo-p">
        </a>
        <a href="https://tiendamutualentreasociados.com.ar/" target="_blank" class="cart-icon">
            <img src="assets/icons/shopping_cart.png" alt="">
        </a>
        <button class="btn-home-responsive"><a href="https://hb.mutualentreasoc.com.ar/auth/login" target="_blank" lang="es" translate="no">Home Mutual</a></button>
        <div class="navbar-responsive__top__expand">
            <img (click)="toggleMenu()" src="./assets/imgs/icon_menu.png" alt="">
        </div>
    </div>

    <div class="navbar-responsive__body" [ngClass]="{expanded: isExpanded}" >
        <ul class="animate__animated animate__fadeIn animate__faster" *ngIf="isExpanded">
            <li *ngFor="let item of items">
                <a [routerLink]="item.path" (click)="isExpanded = false" routerLinkActive="selected">
                    {{ item.text }}
                </a>
            </li>
        </ul>
    </div>
</div>