.comercios {
    padding: 6rem 0;

    @media (max-width: 1400px) {
        padding: 3.5rem 0;
    }

    &-subtitle {
        max-width: 31rem;
    }

    &-info {
        margin-top: 5rem;
        margin-bottom: 4.3125rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-width: 818px) {
            flex-direction: column;
        }

        &-box {
            display: flex;
            flex-direction: column;
            padding: 2.5rem 2.1875rem;
            border: 1px solid var(--black);
            box-shadow: 0px 5px 0px 0px var(--black);
            border-radius: 2.8125rem;

            min-height: 24.6875rem;
            max-height: 24.6875rem;
            -webkit-transition: max-height .2s;
            -moz-transition: max-height .2s;
            -ms-transition: max-height .2s;
            -o-transition: max-height .2s;
            transition: max-height .2s;

            @media (max-width: 818px) {
                min-height: 20rem;
            }

            &:not(:last-of-type) {
                margin-right: 2.5rem;
            }

            @media (max-width: 1462px) {
                &:first-of-type {
                    margin-right: 2.5rem;
                }

                &:nth-child(2) {
                    margin-right: 0rem;
                }

                &:last-of-type {
                    margin-left: 2.5rem;
                    margin-top: 2.5rem;
                }
            }

            @media (max-width: 1200px) {
                &:last-of-type {
                    margin-left: 0;
                }
            }

            @media (max-width: 818px) {
                margin-right: 0 !important;

                &:not(:last-of-type) {
                    margin-bottom: 2.5rem;
                }

                &:last-of-type {
                    margin-top: 0 !important;
                }
            }




            .title {
                p {
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            .content {
                max-width: 19.8125rem;
                font-size: 1.125rem;

                @media (max-width: 818px) {
                    max-width: 100%;
                }

                &-title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                ul {
                    margin-left: 1.2rem;
                }
            }

            .leer-mas {
                margin-top: auto;

                a {
                    div {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                p {
                    color: var(--light-blue);
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }

                img {
                    width: 1.1rem;
                    height: 1.1rem;
                    margin-left: 1rem;
                }
            }
        }

        hr {
            border: 0;
            border-top: 1px solid black;
            margin: 1.75rem 0;
        }
    }
}

.comercios-adheridos-btn {
    display: flex;
    justify-content: center;

    button {
        border-radius: .875rem;
        background-color: var(--blue);
        padding: 1.25rem 2.1875rem;
        outline: none;
        border: none;
        color: #FFF;

        text-align: center;
        font-family: Space Grotesk;
        font-size: 1.25rem;
        font-style: normal;
        line-height: 1.75rem;
        cursor: pointer;
    }
}

.comercios-adheridos-searchbar {
    margin-top: 4.375rem;
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid #000;
    box-shadow: 0px 5px 0px 0px var(--black);
    display: flex;
    align-items: center;


    &--icon {
        img {
            width: 1.5rem;
            height: 1.5rem;
        }

    }

    &--input {
        width: 100%;
        margin-left: .75rem;
        margin-right: .75rem;

        @media (max-width: 490px) {
            width: -webkit-fill-available;
        }

        input {
            font-family: Space Grotesk;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 165%;
            letter-spacing: 0.032px;
            border: none;
            outline: none;
            padding: 1rem;
            width: 100%;

            &::placeholder {
                color: #878E98;
            }

            @media (max-width: 490px) {
                padding: .5rem;
                width: 100%;
            }
        }
    }

    &--btn {
        margin-left: auto;

        button {
            border-radius: 1rem;
            background: #73D0F6;
            padding: .9375rem 2rem;
            color: #0B0D14;
            font-family: Space Grotesk;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 165%;
            letter-spacing: 0.04px;
            outline: none;
            border: none;
            cursor: pointer;

            @media (max-width: 490px) {
                padding: .75rem 1rem;
                font-size: 1rem;
            }
        }
    }
}

.comercios-adheridos-selects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.875rem;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    .select-box {
        padding: .6875rem 1rem .6875rem 1.25rem;
        background: #F5F6F8;
        border-radius: 1rem;
        cursor: pointer;

        &:first-of-type {
            margin-right: 1.1875rem;

            @media (max-width: 600px) {
                margin-right: 0;
                margin-bottom: 1.1875rem;
            }
        }
    }

    select {
        background: #F5F6F8;
        border: none;
        outline: none;
        color: #0B0D14;
        font-family: Space Grotesk;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 165%;
        letter-spacing: 0.032px;
        
        @media (max-width: 360px) {
            font-size: .75rem;
        }
    
    }
}

.open {
    max-height: 40rem;
}
