<div class="comercios animate__animated animate__fadeIn">
    <div class="box-title">
        <p class="title-section">Comercios</p>
        <p class="subtitle-section comercios-subtitle">Aprovecha al máximo tu tarjeta con ofertas y promociones en
            nuestros selectos comercios adheridos.</p>
    </div>
    <div class="comercios-info">
        <div class="comercios-info-box">
            <div class="title">
                <p>Beneficios</p>
            </div>
            <hr>
            <div class="content">
                <ul>
                    <li>Acreditación de Ventas en caja de ahorro sin costo de mantenimiento</li>
                    <li>Acreditación acelerada (48hs ó 7 días corridos) a partir de la fecha de venta...</li>
                </ul>
            </div>
            <div class="leer-mas">
                <a (click)="openDialog('Beneficios')">
                    <div>
                        <p>Leer más</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas">
                    </div>
                </a>
            </div>
        </div>
        <div class="comercios-info-box">
            <div class="title">
                <p>¿Cómo adhiero al comercio?</p>
            </div>
            <hr>
            <div class="content">
                <p class="content-title">Personas físicas</p>
                <ul>
                    <li>Fotocopia D.N.I.</li>
                    <li>Fotocopia inscripciones impositivas</li>
                    <li>Fotocopia de servicios...</li>
                </ul>
            </div>
            <div class="leer-mas">
                <a>
                    <a (click)="openDialog('¿Cómo adhiero al comercio?')">
                        <div>
                            <p>Leer más</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas">
                        </div>
                    </a> </a>
            </div>
        </div>
        <div class="comercios-info-box">
            <div class="title">
                <p>Instrucciones de uso.</p>
            </div>
            <hr>
            <div class="content">
                <p>1- Solicite al cliente la Tarjeta Primicia y el DNI.2- Verifique que el nombre y apellido que figuran
                    en la Tarjeta Primicia, coincidan con los del DNI.”3- Verifique que la firma del cliente coincida
                    con la registrada e...</p>
            </div>
            <div class="leer-mas">
                <a>
                    <a (click)="openDialog('Instrucciones de uso.')">
                        <div>
                            <p>Leer más</p><img src="assets/imgs/primicia-leer-mas.png" alt="leer-mas">
                        </div>
                    </a> </a>
            </div>
        </div>
    </div>
    <div class="comercios-adheridos-btn">
        <button (click)="getData()"><strong>Comercios</strong> Adheridos</button>
    </div>

    <div class="comercios-adheridos-section animate__animated animate__fadeIn" *ngIf="showComercios">
        <form>
            <div class="comercios-adheridos-searchbar">
                <div class="comercios-adheridos-searchbar--icon">
                    <img src="assets/imgs/search-icon.png" alt="search-icon">
                </div>
                <div class="comercios-adheridos-searchbar--input">
                    <form>
                        <input type="text" name="filial" (keyup.enter)="buscarPorFiltro()" [(ngModel)]="filialSearch"
                            placeholder="Ingresá la localidad">
                    </form>
                </div>
                <div class="comercios-adheridos-searchbar--btn">
                    <button (click)="buscarPorFiltro()">Buscar</button>
                </div>
            </div>
            <div class="comercios-adheridos-selects">
                <div class="select-box">
                    <select (change)="buscarPorFiltro()" [(ngModel)]="categoriaSearch" name="accesorios" id="">
                        <option disabled selected value="">Categorias</option>
                        <option value="Todas">Todas</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoria }}
                        </option>
                    </select>
                </div>
                <div class="select-box">
                    <select name="promocion" [(ngModel)]="promocionSearch" id="">
                        <option disabled selected value="">Promoción</option>
                        <option value="Todas">Todas</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </form>
        <app-comercios-show [promocionValida]="promocionSearch" [filiales]="filiales" [categorias]="categorias"
            [comerciosData]="comerciosDataSearch" />
    </div>

</div>

<div class="loader-primicia-box" *ngIf="cargandoData">
    <span class="loader-primicia"></span>
</div>