<div class="contacto-box-form">
    <form>
        <div class="contacto-box-form-datos">
            <div class="contacto-box-form--radio">
                <div class="radio-group">
                    <input class="input-radio-circle" type="radio" id="opcion1" name="grupoOpciones" value="opcion1">
                    <label for="opcion1">Planes y Promociones</label>
                </div>
                <div class="radio-group">
                    <input class="input-radio-circle" type="radio" id="opcion2" name="grupoOpciones" value="opcion2">
                    <label for="opcion2">Ayuda</label>
                </div>
            </div>
            <div class="contacto-box-form--input">
                <label>Nombre</label>
                <input type="text" class="input-text" placeholder="Nombre">
            </div>
            <div class="contacto-box-form--input">
                <label>Email*</label>
                <input type="text" class="input-text" placeholder="Email">
            </div>
            <div class="contacto-box-form--input mensaje">
                <label>Mensaje*</label>
                <textarea class="input-area" placeholder="Mensaje"></textarea>
            </div>
            <div class="contacto-box-form--button">
                <button>Enviar mensaje</button>
            </div>
        </div>
    </form>
    <div class="contacto-box-form-img">
        <img src="/assets/imgs/contacto/contact.png" alt="contact-img">
    </div>
</div>