.contacto-box-form {
    border-radius: 2.8125rem;
    background: var(--grey);
    padding: 3.75rem 6.25rem;
    display: flex;
    width: 100%;
    overflow: hidden;

    @media (max-width: 585px) {
        padding: 3rem 3rem;
    }

    @media (max-width: 380px) {
        padding: 2rem;
    }


    form {
        width: 50%;

        @media (max-width: 950px) {
            width: 60%;
        }

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    &-datos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &--radio {
        display: flex;
        margin-bottom: 2.5rem;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        label {
            color: #000;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
        }

        .radio-group {
            display: flex;
            align-items: center;

            @media (max-width: 380px) {
                flex-direction: column;
            }
        }

        .radio-group:first-of-type {
            margin-right: 2.1875rem;

            @media (max-width: 500px) {
                margin-right: 0rem;
                margin-bottom: 1rem;
            }
        }

        .input-radio-circle {
            margin-right: .875rem;
            width: 1.75rem;
            height: 1.75rem;
            cursor: pointer;
            appearance: none;
            border: 1px solid black;
            border-radius: 50%;
            background-clip: content-box;
            background-color: white;

            @media (max-width: 380px) {
                margin-right: 0;
            }


            &:checked {
                padding: 4px;
                background-color: var(--light-blue);
            }
        }

    }

    &--input {
        display: flex;
        flex-direction: column;

        &:not(:last-of-type) {
            margin-bottom: 1.5625rem;
        }

        label {
            color: #000;
            font-family: Space Grotesk;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
        }

        input {
            padding: 1.125rem 1.875rem;
            font-family: Space Grotesk;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            border-radius: .875rem;
            border: 1px solid #000;
            background: #FFF;

            &::placeholder {
                color: #898989;
            }
        }
    }

    &--button {
        button {
            width: 100%;
            border: none;
            outline: none;
            padding: 1.25rem 2.1875rem;
            border-radius: .875rem;
            background: var(--blue);
            color: #FFF;
            text-align: center;
            font-family: Space Grotesk;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
            @media (max-width: 330px) {
                padding: 1rem 1.5rem;
            }
        }
    }

    &-img {
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 31.25rem;

            @media (max-width: 1100px) {
                width: 28rem;
            }

            @media (max-width: 950px) {
                width: 20rem;
            }

            @media (max-width: 800px) {
                display: none;
            }
        }
    }
}

.mensaje {
    margin-bottom: 2.5rem !important;

    textarea {
        min-height: 11.875rem;
        padding: 1.125rem 1.875rem;
        font-family: Space Grotesk;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border-radius: .875rem;
        border: 1px solid #000;
        background: #FFF;

        &::placeholder {
            color: #898989;
        }
    }
}